<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Edit Profile</a>
    <div class="tab-content">
      <%= render 'form' %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Bookmarks</a>
    <div class="tab-content">
      <ul>
        <% current_user.bookmarks.each do |bookmark| %>
          <li><%= link_to bookmark.event.title, event_path(bookmark.event.api_event_id) %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Favorites</a>
    <div class="tab-content">
      <p></p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link"></a>
    <div class="tab-content">

    </div>
  </li>
</ul>
