<!-- <div class="intro_page">
  <div class="concert_pic">
    <%=image_tag("concert.jpg")%>
  </div>
</div> -->

<% content_for :head do %>
  <style>
    body {
      background-color: black;
    }
  </style>
<% end %>
